.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.tableContainer {
  margin-top: 15px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 20px; */
}

.tableCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.thCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: blue;
  color: white;
}
