.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.tableContainer {
  margin-top: 15px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 20px; */
}

.tableCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.thCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: blue;
  color: white;
}

.content {
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (max-width: 1024px) {
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 640px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
