.tableCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .tableCell {
    padding: 4px;
  }
}

.responsiveHeading {
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.responsiveTable {
  width: 100%;
  margin-bottom: 1rem; /* Adjust spacing as needed */
}

.responsiveTable th,
.responsiveTable td {
  padding: 8px;
  text-align: center;
}

.responsiveParagraph {
  font-size: 0.9rem; /* Adjust the font size as needed */
  line-height: 1.4;
}
