.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(to right, #ff9900, #ff6600); */
  /* color: #ffffff; */
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  font-size: 60px;
  font-weight: bold;
  /* padding: 20px; */
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: x-large;
  font-weight: bold;
  /* color: #ffffff; */
  position: relative;
}

.container a:hover {
  /* color: #ffffff; */
  text-shadow: 0 0 5px #ffffff;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
